<% if(typeof me === 'undefined') { %>
<% // In case we're displaying the 404 or 500 page and relevant code in the "custom" hook
    // was not able to run, we make sure `me` exists.
    // This ensures we don't have to do `typeof` checks below.
    var me = undefined;
  %>
<% } %>
<!DOCTYPE html>
<html>

<head>
  <title>Audiobaze | No. 1 Music Distribution Service</title>

  <% /* Viewport tag for sensible mobile support */ %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="author" content="Adefeyitimi Adeyeloja (Timmy.Zorin)" />
  <meta name="keywords" content="Audiobaze" />

  <% /* Script tags should normally be included further down the page- but any scripts that load fonts (e.g.
        Fontawesome ≥v5) are special exceptions to the rule. (Include them up here along with any hard-coded «link» tags
        for Typekit, Google Fonts, etc. - above the «body» to prevent the page flickering when fonts load.) */ %>

  <% /* Certain scripts, normally analytics tools like Google Tag Manager and Google Analytics, should only be
          included in production: */ if (sails.config.environment==='production' ) { %>
  <!-- Google Analytics, Google Tag Manager, etc. -->
  <% } /* Otherwise, any such scripts are excluded, and we instead inject a robots/noindex meta tag to help
            prevent any unwanted visits from search engines. */ else { %>
  <meta name="robots" content="noindex">
  <% } %>

  <% /* Stylesheets========================Stylesheets can be hard-coded as «link» tags, automatically
                injected by the asset pipeline between "STYLES" and "STYLES END" , or both.
                (https://sailsjs.com/docs/concepts/assets/task-automation) */ %>

  <% /* Auto-injected «link» tags: */ %>
  <!--STYLES-->
  <link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
  <link rel="stylesheet" href="/dependencies/fontawesome.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
  <link href="favicon.ico" type="image/ico" />
  <link rel="stylesheet" href="/css/custom.css" />
  <!--STYLES END-->
</head>

<style>
  @media screen and (max-width: 600px) {
    .mobile_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 999;
      padding: 1rem;
      position: relative;
    }

    .support_system {
      position: fixed;
      display: flex;
      right: 5%;
      bottom: 5%;
      z-index: 99999;
      border-radius: 30px;
      box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.1);
      cursor: pointer;
    }

    .support_btn {
      outline: none;
      display: flex;
      border: none;
      background-color: var(--bs-primary);
      padding: 0.3rem;
      border-radius: 8px;
      box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.1);
    }

    .support_links_container {
      display: none;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      position: absolute;
      bottom: 110%;
      right: 0;
      padding: 1rem;
      background: var(--bs-gray-800);
      border-radius: 8px;
      box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.1);
      width: max-content;
    }
  }

  .support-links {
    list-style-type: none;
    display: flex;
    row-gap: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .support_links_container li {
    width: 100%;
  }

  .support_links_container a {
    background-color: var(--bs-primary);
    padding: 10px 20px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: 601px) {
    .mobile_nav {
      display: none;
    }

    .support_system {
      display: none;
    }
  }

  .mobile_navlinks {
    width: 100%;
    height: 100vh;
    z-index: 1001;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: #fff;
  }

  .mobile_nav img {
    width: 10%;
    height: auto;
  }

  .mobile_nav svg {
    cursor: pointer;
  }

  .mobile_navlinks svg {
    position: absolute;
    top: 0;
    right: 1%;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  .mobile_nav_links_container {
    background-color: var(--bs-gray-800);
  }

  .mobile_nav_links_container ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  .mobile_nav_links_container li {
    display: inline-flex;
    column-gap: 1.5rem;
    align-items: center;
    font-size: 1.5rem;
  }

  .mobile_nav_links_container a {
    background-color: var(--bs-primary);
    padding: 10px 20px;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 30px 15px rgba(0, 0, 0, 0.1);
  }

</style>

<body class="g-sidenav-show bg-gray-200">
  <div purpose="page-wrap">
    <% if(me){ %>
    <nav class="mobile_nav container-fluid">
      <a href="/dashboard">
        <img src="img/logos/logo.png" class="mobile_nav_logo" />
      </a>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" id="ham_btn" width="32" height="32" viewBox="0 0 15 15">
          <path fill="#888888" fill-rule="evenodd"
            d="M1.5 3a.5.5 0 0 0 0 1h12a.5.5 0 0 0 0-1zM1 7.5a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 0 1h-12a.5.5 0 0 1-.5-.5m0 4a.5.5 0 0 1 .5-.5h12a.5.5 0 0 1 0 1h-12a.5.5 0 0 1-.5-.5"
            clip-rule="evenodd" /></svg>
      </div>
      <div class="mobile_navlinks" id="mobile_links">
        <svg xmlns="http://www.w3.org/2000/svg" id="close_mb_nav" width="32" height="32" viewBox="0 0 24 24">
          <path fill="#888888"
            d="m12 13.4l-2.9 2.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7l2.9-2.9l-2.9-2.875q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l2.9 2.9l2.875-2.9q.275-.275.7-.275t.7.275q.3.3.3.713t-.3.687L13.375 12l2.9 2.9q.275.275.275.7t-.275.7q-.3.3-.712.3t-.688-.3z" />
        </svg>
        <div class="mobile_nav_links_container">
          <ul class="">
            <li><a href="/dashboard"> <i class="material-icons opacity-10">dashboard</i> Dashboard</a></li>
            <li><a href="/account"><i class="material-icons opacity-10">person</i> Account</a></li>
            <li><a href="/store"><span class="material-icons">
                  storefront
                </span>Store</a></li>
            <li><a href="/orders"><span class="material-icons">
                  receipt_long
                </span>Orders</a></li>
            <% if(me.isSuperAdmin){ %>
            <li><a href="/coupons"><span class="material-icons">
                  sell
                </span>Coupons</a></li>
            <li><a href="/users"><i class="material-icons opacity-10">manage_accounts</i>Users</a></li>
            <li><a href="/keys"><i class="material-icons opacity-10">key</i>License Keys</a></li>
            <% }%>
            <li><a href="/faq"><i class="material-icons opacity-10">contact_support</i>FAQ</a></li>
            <li><a href="/account/password"><i class="material-icons opacity-10">lock</i>Change Password</a></li>
            <li><a href="https://t.me/musicprofit4"> <i class="material-icons opacity-10">telegram</i>Contact Admin</a>
            </li>
            <li><a href="https://discord.gg/qFGxmrPAtT"><i class="material-icons opacity-10">discord</i>Join Discord</a>
            </li>
            <li><a href="/logout">Log Out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <%} %>

    <% if(me){ %>
    <aside
      class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark"
      id="sidenav-main">
      <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
          aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0" href="/" target="_blank">
          <!-- <img src="img/logos/logo.png" class="navbar-brand-img h-100" alt="main_logo"> -->
          <span class="ms-1 font-weight-bold text-white">Audiobaze Streaming Services</span>
        </a>
      </div>
      <hr class="horizontal light mt-0 mb-2">
      <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white active bg-gradient-primary" href="/dashboard">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">dashboard</i>
              </div>
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/account" id="accountLink">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">person</i>
              </div>
              <span class="nav-link-text ms-1">Profile</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/store" id="storeLink">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <span class="material-icons">
                  storefront
                </span></div>
              <span class="nav-link-text ms-1">Store</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/orders" id="orders">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <span class="material-icons">
                  receipt_long
                </span></div>
              <span class="nav-link-text ms-1">Orders</span>
            </a>
          </li>
          <% if(me.isSuperAdmin === true){ %>
          <li class="nav-item">
            <a class="nav-link text-white" href="/coupons" id="coupons">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <span class="material-icons">
                  sell
                </span></div>
              <span class="nav-link-text ms-1">Coupons</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/users" id="listUsersLink">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">manage_accounts</i>
              </div>
              <span class="nav-link-text ms-1">Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="/keys" id="listLicenseKeys">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">key</i>
              </div>
              <span class="nav-link-text ms-1">License Keys</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/account/password" id="changePasswordLink">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">lock</i>
              </div>
              <span class="nav-link-text ms-1">Change Password</span>
            </a>
          </li>
          <% } else {%>
          <li class="nav-item">
            <a class="nav-link text-white " href="/faq" id="faqLink">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">contact_support</i>
              </div>
              <span class="nav-link-text ms-1">FAQ</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="/account/password" id="changePasswordLink">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">lock</i>
              </div>
              <span class="nav-link-text ms-1">Change Password</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="https://t.me/musicprofit4" target="_blank" id="faqLink">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">telegram</i>
              </div>
              <span class="nav-link-text ms-1">Contact Admin</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white " href="https://discord.gg/qFGxmrPAtT" target="_blank" id="faqLink">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">discord</i>
              </div>
              <span class="nav-link-text ms-1">Join Discord</span>
            </a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link text-white " href="/logout">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">logout</i>
              </div>
              <span class="nav-link-text ms-1">Log Out</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <% } %>

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <% if(me && me.isSuperAdmin === false){ %>
      <div class="support_system">
        <button class="support_btn">
          <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 24 24">
            <path fill="#FFFFFF"
              d="M11.95 18q.525 0 .888-.363t.362-.887t-.362-.888t-.888-.362t-.887.363t-.363.887t.363.888t.887.362m-.9-3.85h1.85q0-.825.188-1.3t1.062-1.3q.65-.65 1.025-1.238T15.55 8.9q0-1.4-1.025-2.15T12.1 6q-1.425 0-2.312.75T8.55 8.55l1.65.65q.125-.45.563-.975T12.1 7.7q.8 0 1.2.438t.4.962q0 .5-.3.938t-.75.812q-1.1.975-1.35 1.475t-.25 1.825M12 22q-2.075 0-3.9-.787t-3.175-2.138T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8" />
          </svg>
        </button>
        <div class="support_links_container">
          <h3 style="color:#fff;">Audiobaze Support</h3>
          <ul class="support-links">
            <li><a href="https://t.me/musicprofit4"> <i class="material-icons opacity-10">telegram</i>Contact Admin</a>
            </li>
            <li><a href="https://discord.gg/qFGxmrPAtT"><i class="material-icons opacity-10">discord</i>Join Discord</a>
            </li>
          </ul>
        </div>
      </div>
      <% }%>
      <%- body %>
    </main>


    <% /* Client-side JavaScript========================Scripts can be hard-coded as «script» tags,
                    automatically injected by the asset pipeline between "SCRIPTS" and "SCRIPTS END" , or both.
                    (https://sailsjs.com/docs/concepts/assets/task-automation) */ %>

    <% /* Stripe.js */%>
    <script src="https://js.stripe.com/v3/"></script>

    <% /* Delete the global `self` to help avoid client-side bugs. (see
                        https://developer.mozilla.org/en-US/docs/Web/API/Window/self) */ %>
    <script>
      delete window.self;

    </script>

    <% /* bowser.js (for browser detection) -- included inline to avoid issues with minification
                          that could affect the unsupported browser overlay */%>
    <script>
      ! function (e, i, s) {
        if ("undefined" != typeof module && module.exports) module.exports = s();
        else if ("function" == typeof define && define.amd) define(i, s);
        else e[i] = s()
      }(this, "bowser", function () {
        var e = true;

        function i(i) {
          function s(e) {
            var s = i.match(e);
            return s && s.length > 1 && s[1] || ""
          }

          function o(e) {
            var s = i.match(e);
            return s && s.length > 1 && s[2] || ""
          }
          var r = s(/(ipod|iphone|ipad)/i).toLowerCase(),
            n = /like android/i.test(i),
            t = !n && /android/i.test(i),
            a = /nexus\s*[0-6]\s*/i.test(i),
            d = !a && /nexus\s*[0-9]+/i.test(i),
            l = /CrOS/.test(i),
            f = /silk/i.test(i),
            m = /sailfish/i.test(i),
            v = /tizen/i.test(i),
            p = /(web|hpw)os/i.test(i),
            c = /windows phone/i.test(i),
            u = /SamsungBrowser/i.test(i),
            h = !c && /windows/i.test(i),
            w = !r && !f && /macintosh/i.test(i),
            b = !t && !m && !v && !p && /linux/i.test(i),
            g = o(/edg([ea]|ios)\/(\d+(\.\d+)?)/i),
            k = s(/version\/(\d+(\.\d+)?)/i),
            x = /tablet/i.test(i) && !/tablet pc/i.test(i),
            y = !x && /[^-]mobi/i.test(i),
            S = /xbox/i.test(i),
            B;
          if (/opera/i.test(i)) B = {
            name: "Opera",
            opera: e,
            version: k || s(/(?:opera|opr|opios)[\s\/](\d+(\.\d+)?)/i)
          };
          else if (/opr\/|opios/i.test(i)) B = {
            name: "Opera",
            opera: e,
            version: s(/(?:opr|opios)[\s\/](\d+(\.\d+)?)/i) || k
          };
          else if (/SamsungBrowser/i.test(i)) B = {
            name: "Samsung Internet for Android",
            samsungBrowser: e,
            version: k || s(/(?:SamsungBrowser)[\s\/](\d+(\.\d+)?)/i)
          };
          else if (/coast/i.test(i)) B = {
            name: "Opera Coast",
            coast: e,
            version: k || s(/(?:coast)[\s\/](\d+(\.\d+)?)/i)
          };
          else if (/yabrowser/i.test(i)) B = {
            name: "Yandex Browser",
            yandexbrowser: e,
            version: k || s(/(?:yabrowser)[\s\/](\d+(\.\d+)?)/i)
          };
          else if (/ucbrowser/i.test(i)) B = {
            name: "UC Browser",
            ucbrowser: e,
            version: s(/(?:ucbrowser)[\s\/](\d+(?:\.\d+)+)/i)
          };
          else if (/mxios/i.test(i)) B = {
            name: "Maxthon",
            maxthon: e,
            version: s(/(?:mxios)[\s\/](\d+(?:\.\d+)+)/i)
          };
          else if (/epiphany/i.test(i)) B = {
            name: "Epiphany",
            epiphany: e,
            version: s(/(?:epiphany)[\s\/](\d+(?:\.\d+)+)/i)
          };
          else if (/puffin/i.test(i)) B = {
            name: "Puffin",
            puffin: e,
            version: s(/(?:puffin)[\s\/](\d+(?:\.\d+)?)/i)
          };
          else if (/sleipnir/i.test(i)) B = {
            name: "Sleipnir",
            sleipnir: e,
            version: s(/(?:sleipnir)[\s\/](\d+(?:\.\d+)+)/i)
          };
          else if (/k-meleon/i.test(i)) B = {
            name: "K-Meleon",
            kMeleon: e,
            version: s(/(?:k-meleon)[\s\/](\d+(?:\.\d+)+)/i)
          };
          else if (c) {
            B = {
              name: "Windows Phone",
              osname: "Windows Phone",
              windowsphone: e
            };
            if (g) {
              B.msedge = e;
              B.version = g
            } else {
              B.msie = e;
              B.version = s(/iemobile\/(\d+(\.\d+)?)/i)
            }
          } else if (/msie|trident/i.test(i)) B = {
            name: "Internet Explorer",
            msie: e,
            version: s(/(?:msie |rv:)(\d+(\.\d+)?)/i)
          };
          else if (l) B = {
            name: "Chrome",
            osname: "Chrome OS",
            chromeos: e,
            chromeBook: e,
            chrome: e,
            version: s(/(?:chrome|crios|crmo)\/(\d+(\.\d+)?)/i)
          };
          else if (/edg([ea]|ios)/i.test(i)) B = {
            name: "Microsoft Edge",
            msedge: e,
            version: g
          };
          else if (/vivaldi/i.test(i)) B = {
            name: "Vivaldi",
            vivaldi: e,
            version: s(/vivaldi\/(\d+(\.\d+)?)/i) || k
          };
          else if (m) B = {
            name: "Sailfish",
            osname: "Sailfish OS",
            sailfish: e,
            version: s(/sailfish\s?browser\/(\d+(\.\d+)?)/i)
          };
          else if (/seamonkey\//i.test(i)) B = {
            name: "SeaMonkey",
            seamonkey: e,
            version: s(/seamonkey\/(\d+(\.\d+)?)/i)
          };
          else if (/firefox|iceweasel|fxios/i.test(i)) {
            B = {
              name: "Firefox",
              firefox: e,
              version: s(/(?:firefox|iceweasel|fxios)[ \/](\d+(\.\d+)?)/i)
            };
            if (/\((mobile|tablet);[^\)]*rv:[\d\.]+\)/i.test(i)) {
              B.firefoxos = e;
              B.osname = "Firefox OS"
            }
          } else if (f) B = {
            name: "Amazon Silk",
            silk: e,
            version: s(/silk\/(\d+(\.\d+)?)/i)
          };
          else if (/phantom/i.test(i)) B = {
            name: "PhantomJS",
            phantom: e,
            version: s(/phantomjs\/(\d+(\.\d+)?)/i)
          };
          else if (/slimerjs/i.test(i)) B = {
            name: "SlimerJS",
            slimer: e,
            version: s(/slimerjs\/(\d+(\.\d+)?)/i)
          };
          else if (/blackberry|\bbb\d+/i.test(i) || /rim\stablet/i.test(i)) B = {
            name: "BlackBerry",
            osname: "BlackBerry OS",
            blackberry: e,
            version: k || s(/blackberry[\d]+\/(\d+(\.\d+)?)/i)
          };
          else if (p) {
            B = {
              name: "WebOS",
              osname: "WebOS",
              webos: e,
              version: k || s(/w(?:eb)?osbrowser\/(\d+(\.\d+)?)/i)
            };
            /touchpad\//i.test(i) && (B.touchpad = e)
          } else if (/bada/i.test(i)) B = {
            name: "Bada",
            osname: "Bada",
            bada: e,
            version: s(/dolfin\/(\d+(\.\d+)?)/i)
          };
          else if (v) B = {
            name: "Tizen",
            osname: "Tizen",
            tizen: e,
            version: s(/(?:tizen\s?)?browser\/(\d+(\.\d+)?)/i) || k
          };
          else if (/qupzilla/i.test(i)) B = {
            name: "QupZilla",
            qupzilla: e,
            version: s(/(?:qupzilla)[\s\/](\d+(?:\.\d+)+)/i) || k
          };
          else if (/chromium/i.test(i)) B = {
            name: "Chromium",
            chromium: e,
            version: s(/(?:chromium)[\s\/](\d+(?:\.\d+)?)/i) || k
          };
          else if (/chrome|crios|crmo/i.test(i)) B = {
            name: "Chrome",
            chrome: e,
            version: s(/(?:chrome|crios|crmo)\/(\d+(\.\d+)?)/i)
          };
          else if (t) B = {
            name: "Android",
            version: k
          };
          else if (/safari|applewebkit/i.test(i)) {
            B = {
              name: "Safari",
              safari: e
            };
            if (k) B.version = k
          } else if (r) {
            B = {
              name: "iphone" == r ? "iPhone" : "ipad" == r ? "iPad" : "iPod"
            };
            if (k) B.version = k
          } else if (/googlebot/i.test(i)) B = {
            name: "Googlebot",
            googlebot: e,
            version: s(/googlebot\/(\d+(\.\d+))/i) || k
          };
          else B = {
            name: s(/^(.*)\/(.*) /),
            version: o(/^(.*)\/(.*) /)
          };
          if (!B.msedge && /(apple)?webkit/i.test(i)) {
            if (/(apple)?webkit\/537\.36/i.test(i)) {
              B.name = B.name || "Blink";
              B.blink = e
            } else {
              B.name = B.name || "Webkit";
              B.webkit = e
            }
            if (!B.version && k) B.version = k
          } else if (!B.opera && /gecko\//i.test(i)) {
            B.name = B.name || "Gecko";
            B.gecko = e;
            B.version = B.version || s(/gecko\/(\d+(\.\d+)?)/i)
          }
          if (!B.windowsphone && (t || B.silk)) {
            B.android = e;
            B.osname = "Android"
          } else if (!B.windowsphone && r) {
            B[r] = e;
            B.ios = e;
            B.osname = "iOS"
          } else if (w) {
            B.mac = e;
            B.osname = "macOS"
          } else if (S) {
            B.xbox = e;
            B.osname = "Xbox"
          } else if (h) {
            B.windows = e;
            B.osname = "Windows"
          } else if (b) {
            B.linux = e;
            B.osname = "Linux"
          }

          function O(e) {
            switch (e) {
              case "NT":
                return "NT";
              case "XP":
                return "XP";
              case "NT 5.0":
                return "2000";
              case "NT 5.1":
                return "XP";
              case "NT 5.2":
                return "2003";
              case "NT 6.0":
                return "Vista";
              case "NT 6.1":
                return "7";
              case "NT 6.2":
                return "8";
              case "NT 6.3":
                return "8.1";
              case "NT 10.0":
                return "10";
              default:
                return undefined
            }
          }
          var T = "";
          if (B.windows) T = O(s(/Windows ((NT|XP)( \d\d?.\d)?)/i));
          else if (B.windowsphone) T = s(/windows phone (?:os)?\s?(\d+(\.\d+)*)/i);
          else if (B.mac) {
            T = s(/Mac OS X (\d+([_\.\s]\d+)*)/i);
            T = T.replace(/[_\s]/g, ".")
          } else if (r) {
            T = s(/os (\d+([_\s]\d+)*) like mac os x/i);
            T = T.replace(/[_\s]/g, ".")
          } else if (t) T = s(/android[ \/-](\d+(\.\d+)*)/i);
          else if (B.webos) T = s(/(?:web|hpw)os\/(\d+(\.\d+)*)/i);
          else if (B.blackberry) T = s(/rim\stablet\sos\s(\d+(\.\d+)*)/i);
          else if (B.bada) T = s(/bada\/(\d+(\.\d+)*)/i);
          else if (B.tizen) T = s(/tizen[\/\s](\d+(\.\d+)*)/i);
          if (T) B.osversion = T;
          var P = !B.windows && T.split(".")[0];
          if (x || d || "ipad" == r || t && (3 == P || P >= 4 && !y) || B.silk) B.tablet = e;
          else if (y || "iphone" == r || "ipod" == r || t || a || B.blackberry || B.webos || B.bada) B.mobile = e;
          if (B.msedge || B.msie && B.version >= 10 || B.yandexbrowser && B.version >= 15 || B.vivaldi && B.version >=
            1 || B.chrome && B.version >= 20 || B.samsungBrowser && B.version >= 4 || B.firefox && B.version >= 20 ||
            B.safari && B.version >= 6 || B.opera && B.version >= 10 || B.ios && B.osversion && B.osversion.split(
              ".")[0] >= 6 || B.blackberry && B.version >= 10.1 || B.chromium && B.version >= 20) B.a = e;
          else if (B.msie && B.version < 10 || B.chrome && B.version < 20 || B.firefox && B.version < 20 || B
            .safari && B.version < 6 || B.opera && B.version < 10 || B.ios && B.osversion && B.osversion.split(".")[
              0] < 6 || B.chromium && B.version < 20) B.c = e;
          else B.x = e;
          return B
        }
        var s = i("undefined" !== typeof navigator ? navigator.userAgent || "" : "");
        s.test = function (e) {
          for (var i = 0; i < e.length; ++i) {
            var o = e[i];
            if ("string" === typeof o)
              if (o in s) return true
          }
          return false
        };

        function o(e) {
          return e.split(".").length
        }

        function r(e, i) {
          var s = [],
            o;
          if (Array.prototype.map) return Array.prototype.map.call(e, i);
          for (o = 0; o < e.length; o++) s.push(i(e[o]));
          return s
        }

        function n(e) {
          var i = Math.max(o(e[0]), o(e[1]));
          var s = r(e, function (e) {
            var s = i - o(e);
            e += new Array(s + 1).join(".0");
            return r(e.split("."), function (e) {
              return new Array(20 - e.length).join("0") + e
            }).reverse()
          });
          while (--i >= 0)
            if (s[0][i] > s[1][i]) return 1;
            else if (s[0][i] === s[1][i]) {
            if (0 === i) return 0
          } else return -1
        }

        function t(e, o, r) {
          var t = s;
          if ("string" === typeof o) {
            r = o;
            o = void 0
          }
          if (void 0 === o) o = false;
          if (r) t = i(r);
          var a = "" + t.version;
          for (var d in e)
            if (e.hasOwnProperty(d))
              if (t[d]) {
                if ("string" !== typeof e[d]) throw new Error(
                  "Browser version in the minVersion map should be a string: " + d + ": " + String(e));
                return n([a, e[d]]) < 0
              } return o
        }

        function a(e, i, s) {
          return !t(e, i, s)
        }
        s.isUnsupportedBrowser = t;
        s.compareVersions = n;
        s.check = a;
        s._detect = i;
        s.detect = i;
        return s
      });

    </script>

    <% /* Auto-injected «script» tags: */ %>
    <!--SCRIPTS-->
    <script src="/dependencies/jquery.min.js"></script>
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/vue.js"></script>
    <script src="/dependencies/vue-router.js"></script>
    <script src="/js/core/popper.min.js"></script>
    <script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
    <script src="/dependencies/cloud.js"></script>
    <script src="/dependencies/moment.js"></script>
    <script src="/dependencies/parasails.js"></script>
    <script src="/js/cloud.setup.js"></script>
    <script src="/js/components/account-notification-banner.component.js"></script>
    <script src="/js/components/ajax-button.component.js"></script>
    <script src="/js/components/ajax-form.component.js"></script>
    <script src="/js/components/cloud-error.component.js"></script>
    <script src="/js/components/js-timestamp.component.js"></script>
    <script src="/js/components/modal.component.js"></script>
    <script src="/js/components/stripe-card-element.component.js"></script>
    <script src="/js/utilities/open-stripe-checkout.js"></script>
    <script src="/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/js/material-dashboard.js" defer></script>
    <script src="js/pages/store.page.js" defer></script>
    <script src="/js/pages/account/account-overview.page.js"></script>
    <script src="/js/pages/account/edit-password.page.js"></script>
    <script src="/js/pages/account/edit-profile.page.js"></script>
    <script src="/js/pages/contact.page.js"></script>
    <script src="/js/pages/contact.page.js"></script>
    <script src="/js/pages/add-product.page.js"></script>
    <script src="/js/pages/edit-product.page.js"></script>
    <script src="/js/pages/entrance/confirmed-email.page.js"></script>
    <script src="/js/pages/entrance/forgot-password.page.js"></script>
    <script src="/js/pages/entrance/login.page.js"></script>
    <script src="/js/pages/entrance/signup.page.js"></script>
    <script src="/js/pages/get-orders.page.js"></script>
    <script src="/js/pages/cart/get-cart.page.js"></script>
    <script src="/js/pages/coupon/get-coupons.page.js"></script>
    <script src="/js/pages/coupon/create-coupon.page.js"></script>
    <script src="/js/pages/review/get-reviews.page.js"></script>
    <script src="/js/pages/user.page.js"></script>
    <script src="/js/pages/entrance/new-password.page.js"></script>
    <script src="/js/pages/activatelicense.page.js"></script>
    <script src="/js/pages/transaction-process.page.js"></script>
    <script src="/js/pages/faq.page.js"></script>
    <script src="/js/pages/homepage.page.js"></script>
    <script src="/js/pages/legal/privacy.page.js"></script>
    <script src="/js/pages/legal/terms.page.js"></script>
    <script src="/js/plugins/bootstrap-notify.js"></script>
    <script src="/js/plugins/countup.min.js"></script>
    <script src="/js/plugins/smooth-scrollbar.min.js"></script>
    <script src="/js/plugins/world.js"></script>
    <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }

    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <% if(me){ %>
    <script type="text/javascript">
      const accountLink = document.getElementById('accountLink');
      const listUsersLink = document.getElementById('listUsersLink');
      const changePasswordLink = document.getElementById('changePasswordLink');
      const faqLink = document.getElementById('faqLink');
      const licenseKeyLink = document.getElementById('listLicenseKeys')
      const store = document.getElementById("storeLink")
      const orders = document.getElementById("orders");
      const coupons = document.getElementById("coupons");

      let url = window.location.href;
      if (url.includes('welcome')) {}
      if (url.includes('account')) {
        accountLink.classList.add('active');
      }
      if (url.includes('faq')) {
        faqLink.classList.add('active');
      }
      if (url.includes('/account/password')) {
        changePasswordLink.classList.add('active');
      }
      if (url.includes('/store')) {
        store.classList.add('active')
      }
      if (url.includes('/orders')) {
        orders.classList.add('active')
      }
      if (url.includes('users')) {
        listUsersLink.classList.add('active');
      }
      if (url.includes('keys')) {
        licenseKeyLink.classList.add('active');
      }
      if (url.includes('service')) {
        servicesLink.classList.add('active');
      }
      if (url.includes("coupons")) {
        coupons.classList.add('active')
      }

    </script>
    <script type="text/javascript">
      const hambtn = document.getElementById('ham_btn');
      const closeBtn = document.getElementById('close_mb_nav');
      const mobileNav = document.getElementById("mobile_links");

      function openNav() {
        mobileNav.style.left = "0"
      }

      function closeNav() {
        mobileNav.style.left = "-100%"
      }

      hambtn.addEventListener('click', () => {
        openNav()
      })

      closeBtn.addEventListener('click', () => {
        closeNav()
      })

    </script>

    <% if(me && !me.isSuperAdmin){ %>
    <script type="text/javascript">
      const helpbtn = document.querySelector('.support_btn');
      const supportLinks = document.querySelector('.support_links_container');

      function toggleLinks() {
        if (supportLinks.style.display === 'none') {
          supportLinks.style.display = 'flex'
        } else {
          supportLinks.style.display = 'none'
        }
      }

      helpbtn.addEventListener('click', () => {
        toggleLinks()
      })

    </script>
    <% } %>
    <% }%>
    <!--SCRIPTS END-->

</body>

</html>
