<body class="">
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container" id="signup" v-cloak>
          <div class="row">
            <div
              class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
              <div
                class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center"
                style="background-image: url('/img/illustrations/illustration-signup.jpg'); background-size: cover;">
              </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5"
              v-if="!cloudSuccess">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Create Your Audiobaze Account!</h4>
                  <p class="mb-0">Enter your Full Name, Email and password to register</p>
                </div>
                <div class="card-body">
                  <ajax-form action="signup" :syncing.sync="syncing" :cloud-error.sync="cloudError"
                    :form-errors.sync="formErrors" :form-data="formData" :form-rules="formRules"
                    @submitted="submittedForm()">
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Full Name</label>
                      <input type="text" class="form-control" id="full-name" type="text"
                        :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName"
                        placeholder="" autocomplete="name" focus-first>
                      <div class="invalid-feedback" v-if="formErrors.fullName">Please enter your full name.</div>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Email</label>
                      <input type="email" class="form-control" id="email-address" type="email"
                        :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress"
                        placeholder="" autocomplete="email">
                      <div class="invalid-feedback" v-if="formErrors.emailAddress">Please enter a valid email address.
                      </div>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" type="password"
                        :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password"
                        placeholder="" autocomplete="new-password">
                      <div class="invalid-feedback" v-if="formErrors.password">Please enter a password.</div>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label" for="confirm-password">Confirm password</label>
                      <input class="form-control" id="confirm-password" type="password"
                        :class="[formErrors.confirmPassword ? 'is-invalid' : '']"
                        v-model.trim="formData.confirmPassword" placeholder="" autocomplete="new-password">
                      <div class="invalid-feedback" v-if="formErrors.confirmPassword">Your password and confirmation do
                        not match.</div>
                    </div>
                    <div class="form-check form-check-info text-start ps-0">
                      <input class="form-check-input" type="checkbox" value="" id="terms-agreement"
                        v-model="formData.agreed">
                      <label class="form-check-label" for="terms-agreement"
                        :class="[formErrors.agreed ? 'text-danger' : '']">
                        I agree the <a href="javascript:;" class="text-dark font-weight-bolder">Terms and Conditions</a>
                      </label>
                    </div>
                    <cloud-error v-if="cloudError==='emailAlreadyInUse'">It looks like there's already an account with
                      your email address.
                      If you forgot your password, you can recover it <a href="password/forgot">here</a>.</cloud-error>
                    <cloud-error v-else-if="cloudError"></cloud-error>
                    <div class="text-center">
                      <ajax-button :syncing="syncing" type="submit"
                        class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign
                        Up</ajax-button>
                    </div>
                  </ajax-form>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-2 text-sm mx-auto">
                    Already have an account?
                    <a href="../pages/sign-in.html" class="text-primary text-gradient font-weight-bold">Sign in</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.min.js?v=3.1.0"></script>
</body>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>