<div id="add-product" class="m-3" v-cloak>
  <h3>Add Product</h3>
  <div class="card col-xl-4 mt-4 shadow-dark p-3 w-100">
    <ajax-form action="addProduct" :form-data="formData" @submitted="addProduct()" :form-errors.sync="formErrors"
      :syncing.sync="syncing" :cloud-error.sync="cloudError">
      <div class="input-group input-group-outline">
        <label class="form-label">Product Title</label>
        <input type="text" class="form-control" id="productTitle" v-model.trim="formData.productTitle" required
          aria-required />
      </div>
      <div class="input-group input-group-outline my-2">
        <label class="form-label">Product Description</label>
        <input type="text" class="form-control" id="productDescription" v-model.trim="formData.productDescription"
          required aria-required />
      </div>
      <div class="input-group input-group-outline my-2">
        <label class="form-label">Detailed Product Description</label>
        <textarea type="text" class="form-control" id="detailedProductDescription"
          v-model.trim="formData.detailedProductDescription" rows="10" required aria-required></textarea>
      </div>
      <div class="input-group input-group-outline my-2">
        <label class="form-label">Product Features</label>
        <input type="text" class="form-control" id="productFeatures" v-model.trim="formData.productFeatures" required
          aria-required />
      </div>
      <div class="input-group input-group-outline my-2">
        <label class="form-label">Service Type</label>
        <select type="text" class="form-control" id="serviceType" v-model.trim="formData.serviceType" required
          aria-required>
          <option value="spotify">Spotify</option>
          <option value="apple">Apple</option>
          <option value="youtube">Youtube</option>
          <option value="shazam">Shazam</option>
          <option value="audiomack">Audiomack</option>
          <option value="smart-contract">Smart Contract</option>
          <option value="website">Website/Artist Brand Website</option>
          <option value="crypto-projects">Crypto Projects</option>
          <option value="bit-bread-artist-grant">Bit Bread Artist Grant</option>
          <option value="hq-songs">HQ Songs</option>
          <option value="hq-distros">HQ Distros</option>
          <option value="software-bot-development">Bot Development</option>
          <option value="social-media-ads">Social Media Ads</option>
          <option value="air-play">Air Play</option>
          <option value="itunes-music">iTunes Music</option>
        </select>
      </div>
      <div class="input-group input-group-outline my-2">
        <label class="form-label">Price ($)</label>
        <input type="text" class="form-control" id="price" v-model.trim="formData.price" required aria-required />
      </div>
      <div class="input-group input-group-outline my-2">
        <label class="form-label">Delivery ETA (Days)</label>
        <input type="number" min="0" class="form-control" id="deliveryETA" v-model.trim="formData.deliveryETA" required aria-required />
      </div>
      <cloud-error v-if="cloudError==='invalid'">Bad Request</cloud-error>
      <cloud-error v-else-if="cloudError"></cloud-error>
      <div class="d-flex align-items-center justify-content-start gap-3">
        <ajax-button type="submit" :syncing="syncing" class="btn btn-primary">Create Product</ajax-button>
        <a href="/store" class="btn-outline-primary btn">Back to Store</a>
      </div>
    </ajax-form>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
