<div id="faq">
  <div class="container pt-5 pb-5">
    <h1>Frequently Asked
      Questions</h1>
    <div>
      <hr class="mt-4 mb-4" />
      <h4>How do I know which offer tier is right for me?</h4>
      <p>We understand that every artist’s journey is unique. Our Gold, Silver, Platinum, and Diamond offers are
        designed to
        cater to different needs and budgets. If you’re just starting out, our Gold and Silver tiers are great options.
        For
        those looking to make a bigger splash, our Platinum and Diamond tiers offer more comprehensive promotion
        strategies.
        Feel free to reach out to our team for personalized guidance based on your goals.</p>
    </div>
    <div>
      <hr class="mt-4 mb-4" />
      <h4>How does Audiobaze's A.I help in increasing music streams??</h4>
      <p>Audiobaze’s A.I. leverage advanced algorithms to strategically target listeners who are likely to enjoy the
        artists’
        music. By engaging with these targeted listeners, the bots help generate streams and increase exposure for the
        artists.</p>
    </div>
    <div>
      <hr class="mt-4 mb-4" />
      <h4>What sets Audiobaze's music promotion services apart from others?</h4>
      <p>At Audiobaze, we offer a comprehensive suite of tailored promotion services that span across various platforms
        like
        Apple Music, Spotify, YouTube, Shazam, and Audiomack. Our dedicated approach, combined with our focus on
        delivering
        genuine engagement and visibility, sets us apart. We prioritize organic growth, ensuring your music reaches a
        relevant
        and engaged audience, driving lasting impact.</p>
    </div>
    <div>
      <hr class="mt-4 mb-4" />
      <h4>How do I get started with Audiobaze</h4>
      <p>Simply click on whatever service you require, you will get an invoice showcasing the crypto addresses to make
        payments
        to. After making payment, send an email confirmation to admin@audiobaze.com.ng.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>