<div id="get-order" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/get-order.less</em>, <em>assets/js/pages/get-order.page.js</em>, and <em>api/controllers/view-get-order.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
